[submodule "submodules/redaxtor"]
	path = submodules/redaxtor
	url = git@github.com:redaxtor/redaxtor.git
[submodule "submodules/redaxtor-medium"]
	path = submodules/redaxtor-medium
	url = git@github.com:redaxtor/redaxtor-medium.git
[submodule "submodules/redaxtor-seo"]
	path = submodules/redaxtor-seo
	url = git@github.com:redaxtor/redaxtor-seo.git
[submodule "submodules/redaxtor-codemirror"]
	path = submodules/redaxtor-codemirror
	url = git@github.com:redaxtor/redaxtor-codemirror.git
